@CHARSET "ISO-8859-1";

body {  
	font-size: 20px;  
	color: teal;  
	font-family: Calibri;  
}  
			  
td {  
	font-size: 15px;  
	color: black;  
	width: 100px;  
	height: 22px;  
	text-align: left;  
}  
			  
.heading {  
	font-size: 18px;  
	color: white;  
	font: bold;  
	background-color: orange;  
	border: thick;  
}